// Site Navigation

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	pointer-events: none;
	opacity: 0;

	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	transition: opacity 0.25s ease-in-out;



	.nav--open & {
		pointer-events: auto;
		opacity: 1;

		transform: translateZ( 0 );
	}
}



.nav__contents__link {
	display: block;
}