/* VARIABLES */

// RESPONSIVE SIZES
$xxLargeSize: 1900px;
$largeSize: 1600px;
$landscapeSize: 1150px;
$portraitSize: 1000px;
$mobileSize: 700px;
$mobileSmallSize: 325px;





// COLORS
$colors: (
	white: #FAFAFA,
	gray: #272727,
	gray--light: #E2E2E2,
	black: #161616,

	teal: #73FFD2,

	violet: #87A7FF
);





// FONTS
@import url( 'https://use.typekit.net/bjp5apd.css' );

@font-face {
    font-family: 'BluuNext';
    src:	url( '../fonts/bluunext-bold-webfont.woff2' ) format( 'woff2' ),
        	url( '../fonts/bluunext-bold-webfont.woff' ) format( 'woff' ),
        	url( '../fonts/bluunext-bold-webfont.svg#bluu_nextbold' ) format( 'svg' ),
        	url( '../fonts/bluunext-bold.ttf' ) format( 'truetype' );
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'BluuNext';
    src:	url( '../fonts/bluunext-bolditalic-webfont.woff2' ) format( 'woff2' ),
        	url( '../fonts/bluunext-bolditalic-webfont.woff' ) format( 'woff' ),
        	url( '../fonts/bluunext-bolditalic-webfont.svg#bluu_nextbold' ) format( 'svg' ),
        	url( '../fonts/bluunext-bolditalic.ttf' ) format( 'truetype' );
    font-weight: 700;
    font-style: italic;
    font-display: block;
}



$base-value: 16;

$font-headline: 'BluuNext', Times, serif;
$font-headline--weight: 700;

$font-detail: 'futura-pt', sans-serif;
$font-detail--weight: 600;

$font-body: 'ten-oldstyle', Georgia, serif;
$font-body--weight: 400;
$font-body--bold: 700;