/* VARIABLES */

// RESPONSIVE SIZES
$xxLargeSize: 1900px;
$largeSize: 1600px;
$landscapeSize: 1150px;
$portraitSize: 1000px;
$mobileSize: 700px;
$mobileSmallSize: 325px;





// COLORS
$colors: (
	white: #FAFAFA,
	gray: #272727,
	black: #161616,

	teal: #73FFD2,

	violet: #87A7FF
);





// FONTS
$base-value: 16;

$font-headline: 'BluuNext', Times, serif;
$font-headline--weight: 700;

$font-detail: 'futura-pt', sans-serif;
$font-detail--weight: 600;

$font-body: 'ten-oldstyle', Georgia, serif;
$font-body--weight: 400;
$font-body--bold: 700;