// Text

* {
    text-rendering: optimizeLegibility;

    font-kerning: normal;
    font-variant-ligatures: common-ligatures;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}





//// Headlines
.headline {
	font-family: $font-headline;
	font-weight: $font-headline--weight;
	font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;

	line-height: 1;

	display: inline;

	@include responsive-font( 8vw, 70px, false, 70px );



	@include breakpoint( mobile ) {
		@include responsive-font( 8vw, 60px, false, 60px );
	}

	@include breakpoint( mobile-small ) {
		@include responsive-font( 8vw, 50px, false, 50px );
	}



	&--small {
		display: block;

		@include responsive-font( 5.5vw, 45px, false, 45px );



		@include breakpoint( mobile ) {
			@include responsive-font( 5.5vw, 40px, false, 40px );
		}

		@include breakpoint( mobile-small ) {
			@include responsive-font( 5.5vw, 35px, false, 35px );
		}
	}
}





//// Copy
p {
	@include responsive-font( 1.85vw, 20px, 32px, 20px );

	font-family: $font-body;
    font-feature-settings: "kern" 1, "liga" 1;

    line-height: 1.6;



    &:not(:last-child) {
    	margin-bottom: 1em;
    }



	.caption & {
    	@include responsive-font( 1.5vw, 16px, 28px, 16px );

    	font-family: $font-headline;
		font-weight: $font-headline--weight;



		&:not(:last-child) {
	    	margin-bottom: 0.5em;
	    }
    }



    &.p--large {
    	@include responsive-font( 2.25vw, 26px, 38px, 26px );

    	line-height: 1;
    }
}

strong {
	font-weight: $font-body--bold;
}

em {
	font-style: italic;
}





//// Text Links
p {
	& > a {
		display: inline-block;
		position: relative;

		font-size: 0.9em;
		font-family: $font-headline;
		font-weight: $font-headline--weight;

		line-height: 1.5;

		text-decoration: none;

		vertical-align: baseline;

		transition: opacity 0.15s ease-in-out;



		&:after {
			position: absolute;
			left: 0;
			right: 0;
			top: calc( 100% - 0.05em );

			height: 1px;

			background: var( --colorBottom );

			content: '';
		}



		&:hover,
		&:active {
			opacity: 0.5;
		}



		@media ( hover: hover ) and ( pointer: fine ) {
			&:after {
				max-width: 0;
			}



			&:hover {
				&:after {
					max-width: 100%;

					transition: 0.15s ease-in-out;
				}
			}
		}
	}



	&.p--large > a,
	.caption & a {
		font-size: 1em;
	}
}





//// Detail
.detail {
	display: inline-block;

	@include responsive-font( 1vw, 10px, 16px, 12px );

	font-family: $font-detail;
	font-weight: $font-detail--weight;

	letter-spacing: 0.35em;
	line-height: 1;

	text-transform: uppercase;



	&--small {
		@include responsive-font( 0.75vw, 8px, 12px, 10px );
	}



	@include breakpoint( mobile-small ) {
		@include responsive-font( 1vw, 9px, 15px, 11px );
	}
}





//// Sidebar
.sidebar {
	& > div {
		writing-mode: vertical-rl;



		@include breakpoint( mobile ) {
			writing-mode: horizontal-tb;
		}
	}



	.detail {
		position: relative;

		transform: rotate( 180deg );
		transform-origin: center center;



		@include breakpoint( landscape ) {
			transform: translateX( 5% ) rotate( 180deg );
		}



		@include breakpoint( mobile ) {
			transform: translateY( -10% );
		}

		@include breakpoint( mobile-small ) {
			transform: translateY( -15% );
		}
	}



	&__location {
		@include breakpoint( mobile ) {
			display: none;
		}
	}
}





//// Aside
.aside {
	padding-top: 1vw;



	li {
		@include responsive-font( 1vw, 10px, 16px, 12px );

		font-family: $font-detail;
		font-weight: $font-detail--weight;

		letter-spacing: 0.35em;
		line-height: 1;

		text-transform: uppercase;



		&:not(:last-child) {
			margin-bottom: 2em;
		}
	}



	a {
		display: inline-block;
		position: relative;

		text-decoration: none;

		transition: opacity 0.15s ease-in-out;



		&:after {
			position: absolute;
			top: calc( 100% + 0.5em );
			left: 0;
			right: 0.35em;

			height: 1px;
			max-width: 0;

			background: map-get( $colors, gray );
			background: var( --colorBottom );

			content: '';
		}



		@media ( hover: hover ) and ( pointer: fine ) {
			&:hover {
				opacity: 0.5;



				&:after {
					max-width: 100%;

					transition: 0.15s ease-in-out;
				}
			}
		}
	}
}





//// Navigation
.nav__contents__link {
	text-decoration: none;



	span {
		transition: 0.15s ease-in-out;



		@media ( hover: none ) {
			transition: 0s;
		}
	}



	&:hover .detail,
	&:hover .headline {
		color: map-get( $colors, white );
	}



	@supports ( -webkit-text-stroke: 1px black ) {
		&:hover .detail,
		&:active .detail,
		&:focus .detail {
			color: map-get( $colors, black );
		}



		&:hover .headline,
		&:active .headline,
		&:focus .headline {
			color: transparent;

			-webkit-text-stroke: 1px map-get( $colors, black );
			-webkit-text-fill-color: transparent;
		}
	}
}



.nav__social {
	a {
		display: inline-block;
		position: relative;

		@include responsive-font( 0.85vw, 8px, 14px, 10px );

		font-family: $font-detail;
		font-weight: $font-detail--weight;

		letter-spacing: 0.35em;
		line-height: 1;

		text-transform: uppercase;
		text-decoration: none;

		color: map-get( $colors, black );



		&:after {
			position: absolute;
			top: calc( 100% + 0.5em );
			left: 0;
			right: 0.35em;

			height: 1px;
			max-width: 0;

			background: map-get( $colors, black );

			content: '';
		}



		@media ( hover: hover ) and ( pointer: fine ) {
			&:hover {
				&:after {
					max-width: 100%;

					transition: 0.15s ease-in-out;
				}
			}
		}
	}
}





//// Alignment
.text--center {
	text-align: center;
}

.text--left {
	text-align: left;
}

.text--right {
	text-align: right;
}

.text--justify {
	text-align: justify;
}



@include breakpoint(mobile) {
	.mobile-text--center {
		text-align: center;
	}

	.mobile-text--left {
		text-align: left;
	}

	.mobile-text--right {
		text-align: right;
	}

	.mobile-text--justify {
		text-align: justify;
	}
}





//// Text colors
@each $color, $value in $colors {
	.text--#{$color} {
		color: $value;


		& > a {
			color: $value;

			text-decoration: none;
		}
	}


	.text--#{$color}::-webkit-input-placeholder {
		color: $value;

		opacity: 0.6;
	}
	.text--#{$color}::-moz-placeholder {
		color: $value;

		opacity: 0.6;
	}
	.text--#{$color}:-ms-input-placeholder {
		color: $value;

		opacity: 0.6;
	}
	.text--#{$color}:-moz-placeholder {
		color: $value;

		opacity: 0.6;
	}


	.text--#{$color}:focus::-webkit-input-placeholder {
		color: transparent;
	}
	.text--#{$color}:focus::-moz-placeholder {
		color: transparent;
	}
	.text--#{$color}:focus:-ms-input-placeholder {
		color: transparent;
	}
	.text--#{$color}:focus:-moz-placeholder {
		color: transparent;
	}

	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&.text--#{$color} {
			color: $value;
		}
	}


	p {
		&.text--#{$color} {
			color: $value;
		}
	}
}





//// Gradient text
.text--gradient {
	color: map-get( $colors, gray );
	-webkit-text-fill-color: map-get( $colors, gray );

	background: linear-gradient(
	    	to bottom,
	    	var( --colorTop ),
	    	var( --colorBottom )
    	);

 	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text--gradient--reverse {
	color: map-get( $colors, gray );
	-webkit-text-fill-color: map-get( $colors, gray );

	background: linear-gradient(
	    	to top,
	    	var( --colorBottom ),
	    	var( --colorTop )
    	);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}