// Text

* {
    text-rendering: optimizeLegibility;

    -webkit-font-feature-settings: "kern", "liga", "dlig";
    -moz-font-feature-settings: "kern", "liga", "dlig";
    -moz-font-feature-settings: "kern=1", "liga=1", "dlig=1";
    font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
    font-kerning: normal;

    font-variant-ligatures: common-ligatures;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}





//// Headlines
h1,
h2,
h3 {
	font-family: $font-headline;
	font-weight: $font-headline--weight;
}

h1,
h2 {
	display: inline;

	@include responsive-font( 8vw, 75px, false, 75px );

	line-height: 1;
}





//// Detail
.detail {
	display: inline-block;

	@include responsive-font( 1vw, 10px, 16px, 12px );

	letter-spacing: 0.35em;
	line-height: 1;

	font-family: $font-detail;
	font-weight: $font-detail--weight;

	text-transform: uppercase;
}





//// Sidebar
.sidebar {
	& > div {
		writing-mode: vertical-rl;
	}



	.detail {
		position: relative;

		transform: rotate( 180deg );
		transform-origin: center center;
	}
}







//// Alignment
.text--center {
	text-align: center;
}

.text--left {
	text-align: left;
}

.text--right {
	text-align: right;
}

.text--justify {
	text-align: justify;
}



@include breakpoint(mobile) {
	.mobile-text--center {
		text-align: center;
	}

	.mobile-text--left {
		text-align: left;
	}

	.mobile-text--right {
		text-align: right;
	}

	.mobile-text--justify {
		text-align: justify;
	}
}





//// Text colors
@each $color, $value in $colors {
	.text--#{$color} {
		color: $value;


		& > a {
			color: $value;

			text-decoration: none;
		}
	}


	.text--#{$color}::-webkit-input-placeholder {
		color: $value;

		opacity: 0.6;
	}
	.text--#{$color}::-moz-placeholder {
		color: $value;

		opacity: 0.6;
	}
	.text--#{$color}:-ms-input-placeholder {
		color: $value;

		opacity: 0.6;
	}
	.text--#{$color}:-moz-placeholder {
		color: $value;

		opacity: 0.6;
	}


	.text--#{$color}:focus::-webkit-input-placeholder {
		color: transparent;
	}
	.text--#{$color}:focus::-moz-placeholder {
		color: transparent;
	}
	.text--#{$color}:focus:-ms-input-placeholder {
		color: transparent;
	}
	.text--#{$color}:focus:-moz-placeholder {
		color: transparent;
	}

	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&.text--#{$color} {
			color: $value;
		}
	}


	p {
		&.text--#{$color} {
			color: $value;
		}
	}
}