// WIDTH & HEIGHT

@for $i from 1 through 12 {
	.width--#{ 50 * $i } {
		width: calc( var( --padding ) * #{ $i / 2 } );
	}


	.height--#{ 50 * $i } {
		height: calc( var( --padding ) * #{ $i / 2 } );
	}
}

@for $i from 1 through 19 {
	.width--#{ 5 * $i } {
		width: 100% * ( 0.05 * $i );
	}
}



@include breakpoint(portrait) {
	@for $i from 1 through 12 {
		.portrait-width--#{ 50 * $i } {
			width: calc( var( --padding ) * #{ $i / 2 } );
		}


		.portrait-height--#{ 50 * $i } {
			height: calc( var( --padding ) * #{ $i / 2 } );
		}
	}

	@for $i from 1 through 19 {
		.portrait-width--#{ 5 * $i } {
			width: 100% * ( 0.05 * $i );
		}
	}
}



@include breakpoint(mobile) {
	@for $i from 1 through 12 {
		.mobile-width--#{ 50 * $i } {
			width: calc( var( --padding ) * #{ $i / 2 } );
		}


		.mobile-height--#{ 50 * $i } {
			height: calc( var( --padding ) * #{ $i / 2 } );
		}
	}

	@for $i from 1 through 19 {
		.mobile-width--#{ 5 * $i } {
			width: 100% * ( 0.05 * $i );
		}
	}
}
