// WIDTH & HEIGHT

@for $i from 1 through 6 {
	.width--#{ 100 * $i } {
		width: calc( var( --padding ) * #{ $i } );
	}


	.height--#{ 100 * $i } {
		height: calc( var( --padding ) * #{ $i } );
	}
}



@include breakpoint(portrait) {
	@for $i from 1 through 6 {
		.portrait-width--#{ 100 * $i } {
			width: calc( var( --padding ) * #{ $i } );
		}


		.portrait-height--#{ 100 * $i } {
			height: calc( var( --padding ) * #{ $i } );
		}
	}
}



@include breakpoint(mobile) {
	@for $i from 1 through 6 {
		.mobile-width--#{ 100 * $i } {
			width: calc( var( --padding ) * #{ $i } );
		}


		.mobile-height--#{ 100 * $i } {
			height: calc( var( --padding ) * #{ $i } );
		}
	}
}
