// STRUCTURE
// Columns, Cards, Extra Grid Classes

//// Header
.header {
	min-height: var( --logoMin );
	height: var( --logo );
}





//// Sidebar
.sidebar {
	position: absolute;

	top: calc( var( --padding ) * 0.5 );
	right: calc( var( --padding ) * 0.5 );
	bottom: calc( var( --padding ) * 0.5 );



	&__bar {
		width: 1px;

		transform: translateX( -50% );



		.sidebar--teal & {
				background: map-get( $colors, teal );
		}

		.sidebar--violet & {
				background: map-get( $colors, violet );
		}

		.sidebar--gradient & {
				background: map-get( $colors, gray );
				background: linear-gradient(
                    to bottom,
                    var( --colorTop ),
                    var( --colorBottom )
                );
			}
	}



	// @include breakpoint( mobile ) {
	// 	top: auto;
	// 	left: var( --padding );
	// 	right: var( --padding );
	// 	bottom: calc( var( --padding ) * 0.75 );



	// 	&:after {
	// 		top: 50%;
	// 		bottom: auto;
	// 		left: 0;
	// 		right: 0;

	// 		width: 100%;
	// 		height: 1px;

	// 		transform: translate3d( 0, -50%, 0 );
	// 	}
	// }
}




//// Break
.break {
	display: block;

	height: 1px;



	.nav__contents__link:hover & {
		background-color: map-get( $colors, white );
	}



	@supports ( -webkit-text-stroke: 1px black ) {
		.nav__contents__link:hover & {
			background-color: map-get( $colors, black );
		}
	}
}





//// Background Canvas
.background {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
}